*{
    font-family: arial    
}

body{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #7ea881;
}
.app {
    background-color: #ecce94;
    padding: 16px;
    border-radius: 10px;    
}
.inputs{
    display:flex;
    flex-direction: column;
}

input {
    margin: 8px 0;
    padding: 8px;
    outline: none;
}
#btnCalcular{
    background-color: #4e4887;
    color: #ffffff;
    padding: 8px;
    border-radius: 8px;
    border-color: #0b0a49;
}
#btnLimpar{
    background-color: #4e4887;
    color: #ffffff;
    padding: 8px;
    border-radius: 8px;
    border-color: #0b0a49;
}